.stokeContainer{
    width:100%;
    padding:60px 120px;
}
@media (max-width: 1024px) {
.stokeContainer{
    padding:90px 30px 60px 30px;
}}



@media (max-width: 480px) {
    .stokeContainer{
    padding:60px 10px;
}}