@import "../../../../styles/variables";

.container{
    width:100%;
    padding:3rem 8rem;

    h1{
        font-size:32px;
    }
}

.innerContainer{
    display: flex;
    align-items: start;
    padding:60px 0px;
    width:100%;
}

.containerLeft{
    width:40%;
    padding-right:3rem;
}
   .imageContainer{
    width:70%;
    height:auto;
    padding:0px 4rem;;
   }


.containerRight {
width:60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem 2rem;
  font-family: 'Helvetica Neue', sans-serif;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.number {
  font-size: 2.3rem;
  font-weight: 600;
  color: #b9b7b7;
  flex-shrink: 0;
  min-width: 3rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 0.5rem;
  color: $dark-text;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: $dark-text;
  font-weight: 600;
}


@media (max-width: 768px) {
    .container{
    padding:0.5rem 0.5rem;
      
      h1{
        font-size:28px;
        padding:0 15px;
    }
  
  }
    .innerContainer{
        flex-direction: column;

      
    }
    .containerLeft{
        width:100%;
        padding-right:0rem;
        padding:0.5rem;
    }
     .imageContainer{
    width:100%;
    height:auto;
    padding:4px 1px;
   }

    .containerRight{
        width:100%;
        padding:2rem 1rem;
    }
}

@media (max-width: 480px) {
     .container{
    padding:0rem 0rem;

    h1{
        padding:1rem;
        font-size:20px;
    }

}
   .innerContainer{
        padding:0px 0px;
   }
    .containerLeft{
     
        padding:1rem;
    }
     .imageContainer{
    width:100%;
    
    padding:4px 1rem;
   }

   .number {
  font-size: 1.5rem;}
   .title {
  font-size: 1.2rem;}
  .description {
  font-size: 0.89rem;}

  .containerRight{
        width:100%;
        padding:1rem 0.9rem;
        margin-bottom:30px;
    }
}
