@import "../../../styles/variables";

.trustedSection {
  padding: 3rem 6rem;
  background-color: $color-white;
  text-align: center;
  overflow: hidden;

   @media(max-width:768px){
    text-align: start;
      padding: 3rem 1.5rem;
      
  }

   @media(max-width:480px){
    padding:2.5rem 1rem;
  }


}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: $blue-text;

  @media(max-width:600px){
    text-align: center;
  }
   @media(max-width:480px){
    text-align: center;
     margin-bottom: 1rem;
    font-size: 1.6rem;
  }

}

.marqueeWrapper {
  padding:2rem 0rem;
  overflow: hidden;
  width: 100%;
  position: relative;

  
}

.marqueeContent {
  display: flex;
  gap: 3rem;
  animation: scrollLeft 30s linear infinite;
  width: max-content;


  @media(max-width:480px){
     gap:0px;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}

.logoCard {
  flex: 0 0 auto;
  width: 140px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(max-width:480px){
      width: 130px;
  height: 60px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.certificationSection {
  padding: 3rem 6rem;
   background-image: url('/assets1/images/Homee/Certificates/Certificate.png'); 
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;

  @media(max-width:570px){
    padding:3rem 2rem;
  }

   @media(max-width:480px){
      padding:2rem 1rem;;

    }
    

  .certificateHeading{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:1rem 0rem;

    
   @media(max-width:480px){
     align-items: flex-start;
     
       padding:1rem 0rem;
      
    }
    .mainheading{
      font-size: 2rem;
      color:$blue-text;

        text-align: center;
        width: 100%;
      @media(max-width:480px){
        font-size: 1.6rem;;
      }
    
    }

    .subHeading {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: $light-blue-text;
      

       @media(max-width:480px){
       
          margin-bottom: 2rem;
      }
    }
  }

  .certificate {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5rem;
    overflow-x: auto;
    padding-top:2rem;
    padding-bottom: 1rem;

    @media(max-width:480px){
        flex-direction: column;
        gap:2rem;
        padding-top:1rem;
    padding-bottom: 3rem;
      }

    img {
      height: 90px;
      object-fit: contain;
      border-radius: 1px;
      transition: transform 0.2s ease;


    @media(max-width:768px){

           height: 115px;

    width: 90%;
    }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
}

