.specificationSection {
  padding: 4rem 1rem;
  background: #fff;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: 'Rajdhani', sans-serif;
      text-align: left;
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;

  th, td {
    padding: 1rem;
    text-align: center;
    border: 1px solid #f0f0f0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
  }

  thead th {
    background-color: #005338; 
    color: #fff;
    font-size: 1rem;
  }

  tbody td {
    font-size: 0.95rem;
    color: #333;
    font-weight: bold;
  }

  tbody td:first-child {
    text-align: left;
    font-weight: bold;
    color: #111;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.6rem;
  }

  .table {
    font-size: 0.9rem;
  }

  .table th,
  .table td {
    padding: 0.75rem;
  }
}

.woodPelletsImage{
        width: 1400px;
    padding-top: 50px;
    height: 640px;
    margin: auto;
}