
$error-color: #ff4d4f;
// $primary-green:#00583d;
$primary-green: #004225;
$secondary-color:#faa916;
$gray-bg:#f5f5f5;
// $color-white: #ffffff;
$dark-text:#1f1f1f;
// $hover-green:#1a4a2e;
$hover-green:#004225;
 
// $background-white:#f9f9f9;
// $blue-color:#054062;

// // -------------------------//
// $banner-bg:#fafafa;
// $banner-text:#1f1f1f;
// $banner-overlay:#004225;

$block-blue:#296389;
$block-green:#74C053;




// New theme :
$color-white: #ffffff;
$blue-text:#0b1460;
$blue-bg:#00152f;
$light-blue-text:#2563eb;
// $header-top-bar-height: 65px;
// $header-navbar-height: 83px;
// $header-total-height: $header-top-bar-height + $header-navbar-height; // 130px
