$primary-color: #0d3b66;
$secondary-color: #faa916;
$accent-color: #3f88c5;
$text-color: #333;
$background-color: #f5f5f5;
$error-color: #ff4d4f;
$primary-green:#00583d;
$gray-bg:#fafafa;

$color-white: #ffffff;
$dark-text:#1f1f1f;
