@import '../../../styles/variables';

.container {
  padding-bottom: 20px;
}

.horizontalSection {
  background-color:$banner-bg;
  padding: 110px 90px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 2.8rem;
    margin: 0;
    color: $banner-text;
  }
}


.containerBox{
    padding: 0px 130px;
}

.navTabs {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;

  ul {
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: $primary-green transparent;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      padding: 10px 0;
      border-bottom: 2px solid transparent;
      margin-bottom: 16px; 

      &:hover {
        color: $secondary-color
      }

      &.active {
        color: $primary-green;
        border-bottom: 4px solid $primary-green;
      }
    }
  }
}


.contentSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
  gap: 5%; 
  flex-wrap: nowrap;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
  }
}



.pdfButton {
  background: $gray-bg;
  border: 1px solid #ccc;
  border-radius: 999px;
  margin-top:20px;
  padding: 10px 18px;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background-color: $primary-green;
    color:$color-white;
    border: none;
  }
}

.pdfIcon {
  font-size: 1rem;
}


.ContentTabSection {
  display: flex;
  width: 100%;
  gap: 10%; 
  flex-wrap: wrap;
  padding-top:20px;
  padding-bottom:60px;
}

.tabContent {
  flex: 0 0 35%;
  

  h1{
    font-size:2.2rem;
  }

  p{
    font-size:15px;
    font-weight:600;
  }
}

.imageBlock {
  flex: 0 0 55%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media (max-width: 768px) {
  .horizontalSection {
    padding: 90px 20px;
    align-items: start;

    h1 {
      font-size: 2.2rem;
      margin: 0;
    }
  }

  .navTabs {
    border-bottom: none;

    ul {
      display: flex;
      gap: 24px;

      padding-bottom: 15px;
      margin: 0;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
      scrollbar-width: thin;
    }

    ul::-webkit-scrollbar {
      display: none;
    }

    li{
      margin-bottom:200rem;
    }
  }
.containerBox{
    padding: 0px 60px;
  }
  .contentSection{
    padding: 10px 5px;
  }
  .ContentTabSection {
    flex-direction: column;
    gap: 2.2rem;
    padding-top:10px;
    padding-bottom:40px ;
  }

  .tabContent,
  .imageBlock {
    flex: 1 1 100%;
  }
}






@media (max-width: 480px){

.container {
  padding-bottom: 10px;
}

.containerBox{
  padding: 0px 20px;
}

.horizontalSection {
    h1 {
      font-size: 1.9rem;
      margin: 0;
    }
  }

  .contentSection{
    padding: 0px 0px;
    gap: 20px;
  }

 
  .tabContent {
  h1{
    font-size:1.5rem;
  }

  p{
    font-size:14px;
    font-weight:600;
  }
}

.pdfButton{
     padding: 8px 14px;
    font-size: 0.8rem;
}
  
.pdfIcon {


    font-size: 0.85rem;
  
}

}