
@import '../../styles/variables';

.header {
  background: $color-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 999;

  &__container {
    margin: 0 auto;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    height: 48px;
    object-fit: contain;
  }

  &__nav {
    display: flex;
    gap: 2rem;

    a {
      text-transform: uppercase;
      font-weight: 600;
      color: #111;
      transition: color 0.2s;
      font-size: 13px;

      &.active,
      &:hover {
        color: #0d3b66;
      }
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background: $color-white;
      border-top: 1px solid #ddd;
      padding: 1rem;
      display: none;

      &.open {
        display: flex;
      }
    }
  }

  &__separator {
    width: 2px;
    height: 20px;
    background-color: #ccc;
    align-self: center;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__menu-icon {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      height: 2px;
      width: 100%;
      background: #111;
      transition: all 0.3s ease-in-out;
    }

    span:nth-child(1) {
      top: 0;
    }

    span:nth-child(2) {
      top: 10px;
    }

    span:nth-child(3) {
      bottom: 0;
    }

    &.open span:nth-child(1) {
      transform: rotate(45deg);
      top: 10px;
    }

    &.open span:nth-child(2) {
      opacity: 0;
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg);
      bottom: 10px;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}
