@import '../../styles/variables';

.container {
  padding-bottom: 20px;
}

.horizontalSection {
  background-color: #fafafa;
  padding: 110px 110px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 2.8rem;
    margin: 0;
  }
}

.containerBox{
    padding: 0px 110px;
}

.navTabs {
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;

  
  > ul {
    
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
      

    li {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      padding: 12px 0;
      border-bottom: 2px solid transparent;

      &:hover {
        color: #bd8e0f;
      }
    }

    .navTabs li {
  list-style: none;
}

    .active {
      color: #00583d;
      border-bottom: 4px solid #00583d;
    }

  }
}


.contentSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
  gap: 5%; 
  flex-wrap: nowrap;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
  }
}

.textContent {
  flex: 0 0 58%;
  min-width: 300px;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-weight: bold;
  }

  p {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 14px;
    color: #333;
  }
}

.sideInfo {
  flex: 0 0 35%;
  max-width: 350px;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

.documentCard {
  background-color: #fafafa;
  padding: 20px 30px;
  margin-bottom: 20px;

  p {
    font-size: 0.80rem;
    font-weight: bold;
    margin-bottom: 12px;
  }
}

.pdfButton {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 999px;
  padding: 10px 18px;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background-color: #00583d;
    color: #fff;
    border: none;
  }
}

.pdfIcon {
  font-size: 1rem;
}

.beamContent{
    width:60%;
    padding-bottom :1rem;
}

.beamLayupsWrapper {
  width: 100%;
  margin-top: 1rem;
}

.layupGrid {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: nowrap;
}

.card {
  flex: 1;
  max-width: 32%;
}

.card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card ul {

  padding-left: 1.5rem;
   margin-bottom: 1rem;

}

.card li {
   list-style-type: disc !important;
  display: list-item !important;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  font-weight:600;
}

.cardImage {
  width: 100%;
  height: auto;
}


@media (max-width: 768px) {
   .containerBox {
    padding: 0px 30px;
  }

  .horizontalSection {
    padding: 90px 30px;
    align-items: start;

    h1 {
      font-size: 2.2rem;
      margin: 0;
    }
  }

  .navTabs {
    border-bottom: none;
    

    ul {
      display: flex;
      gap: 24px;

      padding-bottom: 15px;
      margin: 0;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
      scrollbar-width: thin;
      scrollbar-color: #00583d transparent;
    }

    ul::-webkit-scrollbar {
      display: none;
    }
  }

  .sideInfo {
  width:100%;
  max-width: 600px;
  }

  .cardAdhevsives{
    width:100%;
    max-width: 600px;
  }

  .beamContent{
    width:100%;
}

 .layupGrid {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card {
    width: 48%;
    max-width: 48%;
    flex: 0 0 48%;
  }

  .card li {
  font-size: 0.8rem;
  font-weight: 600;
}

   
}



@media (max-width: 480px){

.container {
  padding-bottom: 10px;
}

.horizontalSection {
    h1 {
      font-size: 1.9rem;
      margin: 0;
    }
  }

  .contentSection{
     padding: 20px 1px;
    gap: 20px;
  }
    
  .textContent{
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 13px;
      line-height: 1.5;
    }
  }

  .sideInfo {
     h3 {
      font-size: 1.1rem;
    }
}

.documentCard{
   padding: 14px 16px;

    p {
      font-size: 0.75rem;
    }
}
 
.pdfButton{
     padding: 6px 14px;
    font-size: 0.8rem;
}
  
.pdfIcon {


    font-size: 0.85rem;
  
}

.layupGrid {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }

  .card {
    max-width: 100%;
    width: 100%;
    flex: unset;
  }
}








