@import '../../../styles/variables';

.manufacutureContainer{
    width:100%;
    padding-top:100px;
    padding-bottom:100px;
    background-color: $gray-bg;
   
}
.horizontalSection {
    width:100%;
    display: flex;
    flex-direction:column;
    align-items:start;
    gap:40px;
    background-color: $gray-bg;
    padding: 0px 120px;     
}

.innerContent{  
    h1 {
        font-size: 2.5rem;
        margin: 0;
        // max-width:90%;
    }
}


@media (max-width: 768px) {
  
.manufacutureContainer{
    width:100%;
    padding-top:80px;
    padding-bottom:60px;
  }

  .horizontalSection {
    padding: 0px 10px;
    align-items: start;
    gap:0px;

    .innerContent{
      h1 {
        font-size: 2.2rem;
        margin: 0;
        padding-left: 28px;
      }
    }
  }

  
}

@media (max-width: 480px){

.manufacutureContainer{
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    background-color: $gray-bg;   
}

.horizontalSection {
  .innerContent{
    h1 {
      font-size: 1.7rem;
      margin: 0;
      padding-left: 10px;
      padding-top: 40px;
    }}
  }
}

